In [28]:
from geopy.distance import geodesic
import pandas as pd
import numpy as np
import geopy.distance

In [29]:
df_frt=pd.read_excel("/FRT/24.Doanh_thu_BHX/4.Bach_Hoa_Xanh/1.Latitude_Longitude/Lat_long_FLC.xlsx")
df_frt

,SHOP_CODE,SHOP_NAME,REGION_NAME_7,REGION_NAME_6,REGION_NAME_4,REGION_NAME_2,LATITUDE,LONGITUDE
0,80202,LC HCM 198O Xóm Chiếu,Phường 14,Quận 4,Hồ Chí Minh,Hồ Chí Minh,10.755916,106.709449
1,80428,LC DAG 118 Nguyễn Hữu Thọ,Phường Hòa Thuận Tây,Quận Hải Châu,Đà Nẵng,Miền Trung,16.045245,108.209641
2,80804,LC LAN 223 Quốc Lộ N2,Xã Hòa Khánh Nam,Huyện Đức Hòa,Long An,Miền Tây,10.841335,106.420389
3,80751,LC TNH 74 Ngô Quyền,Xã Long Thành Nam,Thị xã Hòa Thành,Tây Ninh,Miền Đông,11.258572,106.139582
4,80666,LC QNM 722 Trần Thủ Độ,Phường Điện Nam Trung,Thị xã Điện Bàn,Quảng Nam,Miền Trung,15.915411,108.267895
...,...,...,...,...,...,...,...,...
1203,80598,LC HCM 36 Nguyễn Huy Tự,Phường Đa Kao,Quận 1,Hồ Chí Minh,Hồ Chí Minh,10.792767,106.696537
1204,81024,LC HPG 546 Chợ Hàng,Phường Dư Hàng Kênh,Quận Lê Chân,Hải Phòng,Miền Bắc 2,20.835460,106.679657
1205,81041,LC HCM 295 Huỳnh Văn Bánh,Phường 11,Quận Phú Nhuận,Hồ Chí Minh,Hồ Chí Minh,10.791665,106.675305
1206,81104,LC CBG 09 Đường 01-4,Phường Sông Hiến,Thành phố Cao Bằng,Cao Bằng,Miền Bắc 1,22.665516,106.253780
1207,81124,LC HCM 85 Bùi Văn Ba,Phường Tân Thuận Đông,Quận 7,Hồ Chí Minh,Hồ Chí Minh,10.750327,106.731622

In [30]:
df_bhx=pd.read_excel('/FRT/24.Doanh_thu_BHX/4.Bach_Hoa_Xanh/1.Latitude_Longitude/Lat_long_bhx.xlsx',sheet_name='data')
df_bhx

      shop_code_bhx        lat        long
0              2711  11.311355  106.086100
1              1243  11.883563  106.824693
2              1394  10.954010  108.103737
3              1393  11.032361  108.163256
4              1810  10.849844  106.587884
...             ...        ...         ...
1712           2429  10.812001  106.472830
1713           1453  10.000970  105.750595
1714           1435   8.873603  105.053000
1715           2353   9.618207  104.944637
1716           1035  10.541407  105.144665

[1717 rows x 3 columns]

In [31]:
df_frt['SHOP_CODE']=df_frt['SHOP_CODE'].astype(str)
df_bhx['shop_code_bhx']=df_bhx['shop_code_bhx'].astype(str)

In [32]:
def calculate_distance(row, point_a):
    shop_code_bhx=row['shop_code_bhx']
    point_b = (row['lat'], row['long'])
    distance = geopy.distance.geodesic(point_a, point_b).kilometers
    return shop_code_bhx,distance

In [33]:
Shop_LC=[]
Shop_BHX=[]
Distances=[]

In [34]:


for index,row in df_frt.iterrows():
    point_a = (row['LATITUDE'], row['LONGITUDE'])
    shop_code_frt=row['SHOP_CODE']
    for index,row in df_bhx.iterrows():
        shop_code_bhx,distance=calculate_distance(row,point_a=point_a)
        if shop_code_bhx is None:
            Shop_LC.append(shop_code_frt)
            Shop_BHX.append('Không có shop gần bán kính 2km')
            Distances.append('')
        elif distance <=5:
            Shop_LC.append(shop_code_frt)
            Shop_BHX.append(shop_code_bhx)
            Distances.append(distance)

In [35]:
print(len(Shop_LC))
print(len(Shop_BHX))
print(len(Distances))

20534
20534
20534

In [36]:
df=pd.DataFrame()
df['Shop_code_FLC']=Shop_LC
df['Shop_code_BHX']=Shop_BHX
df['Distance']=Distances

In [37]:
df

      Shop_code_FLC Shop_code_BHX  Distance
0             80202          2109  4.078351
1             80202          2172  3.006094
2             80202          2164  3.773557
3             80202          2079  4.155231
4             80202          1794  4.620895
...             ...           ...       ...
20529         81124          1858  4.727105
20530         81124          2094  3.833771
20531         81124          1896  4.943359
20532         81124          1849  4.915414
20533         81124          2140  0.338467

[20534 rows x 3 columns]

In [27]:
df.to_excel('/FRT/24.Doanh_thu_BHX/1.Xu_ly_Khoang_Cach/Shop_bhx_gan_flc_5km.xlsx')